* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

#logo {
    font-size: 2rem;
    font-family: var(--body-font);
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: var(--accent1-color);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    /*border: solid;*/
}

.navigation a:hover {
    color: var(--secondary-color)
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero article {
    position: absolute;
    bottom: -10px;
    width: 80%;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    opacity: 0.8;

}

.hero article img {
    float: right;
    width: 125px;

}

.history_title {
    text-align: center;
}

.history {
    display: flex;
    justify-content: center;
}

.history img {
    width: 200px;
    height: auto;
}

.adventure_title {
    text-align: center;
}

.adventure_images img {
    width: 128px;
    height: auto;
}

.adventure_images {
    display: flex;
    justify-content: space-evenly;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

footer img {
    float: left;
    width: 128px;
}

.footer {
    color: var(--accent2-color);
    display: flex;
    justify-content: flex-end;
}